<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	</head>
	<body>
	    <div th:fragment="commentThread" th:remove="tag">
                <div th:each="comment : ${thread}" style="margin-left: 1em" >
	                <div th:inline="text">
	                	<strong>[[${comment.user.name}]]</strong> - [[${#dates.format(comment.createdDate, 'dd-MMM-yy h:mm')}]]
	                </div>
                    <span th:text="${comment.text}">Example</span>
                    <div style="margin-left: 8em"> <a href="" >like</a> <a href=""  style="margin-left: 2em">reply</a> </div> 
                    <hr/>
                    <div th:with="thread = ${comment.comments}" th:include="fragments/comment.html :: commentThread" th:remove="tag" ></div>
                </div>
        </div>
	
	
	
	</body>
</html>