<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Creating a Product</title>
  <script th:replace="fragments/header :: headerElement"></script>
</head>
<body>
  <script th:replace="fragments/header :: header"></script>
  <form action="" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="hidden" th:field="${product.id}">
    <input type="hidden" th:field="${product.user}">
      <div class="container" style="margin-top: 1.5em" th:if="${product !=null}" >
        <div class = "form-group row">
          <label for="name" class="col-sm-3 col-md-2 col-form-label" >Name:</label>
          <div class = "col-sm-9 col-md-10">
            <input type="text" class="form-control" th:field="${product.name}">
          </div>
        </div>
        <div class="custom-control custom-switch">
		  <input type="checkbox" class="custom-control-input" th:field="${product.published}">
		  <label class="custom-control-label" for="published1">is published</label>
		</div>
			<button type="submit" class="btn btn-primary" style="margin-top: 1.5em">Save Product</button>
      
      </div>
  </form>

</body>
</html>